# Compiled output
/dist
/node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# auto generated test coverage
coverage

# Firebase Service Account
serviceAccountKey.json

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.production
.env.development
.env.local
.env.*.local

# NestJS specific
.nestcli.json

# TypeScript
*.tsbuildinfo

/generated/prisma
